body {
  font-family: "Roboto", sans-serif;
}

#top {
  background: #4285f4;
  color: #ffffff;
  position: relative;
  z-index: 100;
  padding: 10px;
}
#top .container-fluid .row .topLeft span {
  font-weight: 500;
  margin: 0 10px;
  font-size: 20px;
}
#top .container-fluid .row .topLeft #menuBar {
  background: transparent;
  border-style: none;
  outline: none;
  padding: 5px 10px;
  transition: all 0.1s ease-out;
  border-radius: 50%;
  font-size: 20px;
  color: #e6e6e6;
  margin: 0 10px;
}
#top .container-fluid .row .topLeft #menuBar:hover {
  color: #ffffff;
}
#top .container-fluid .row .topLeft #menuBar:focus {
  background: #000000;
}

#sidemenu {
  width: 15%;
  display: inline-block;
  position: fixed;
  overflow-y: scroll;
  top: 60px;
  bottom: 0;
  left: 0%;
  transition: all 0.1s ease-out;
}
